{% set classes = [
 'layout',
 'layout--grid',
] %}
{% if content %}
 <div{{ attributes.addClass(classes) }}>
   <div {{ attributes.addClass('layout--first_section') }}>
    {% if content.content_first %}
      <div {{ region_attributes.content_first.addClass('layout__region', 'layout__region--content_first') }}>
        {{ content.content_first }}
      </div>
    {% endif %}
   </div>
   <div {{ attributes.addClass('layout--second_section') }}>
    {% if content.content_second %}
      <div {{ region_attributes.content_second.addClass('layout__region', 'layout__region--content_second') }}>
        {{ content.content_second }}
      </div>
    {% endif %}
    <div {{ attributes.addClass('layout--thrid_section') }}>
      {% if content.content_third %}
        <div {{ region_attributes.content_third.addClass('layout__region', 'layout__region--content_third') }}>
          {{ content.content_third }}
        </div>
      {% endif %}
      {% if content.content_fourth %}
        <div {{ region_attributes.content_fourth.addClass('layout__region', 'layout__region--content_fourth') }}>
          {{ content.content_fourth }}
        </div>
      {% endif %}
    </div>
   </div>
 </div>
{% endif %}